@-webkit-keyframes logo-border-sm-wave {
  0% {
    top: 2px;
    left: 2px;
    height: 121px;
    width: 121px;
  }
  100% {
    top: -8px;
    left: -8px;
    height: 141px;
    width: 141px;
  }
}

@keyframes logo-border-sm-wave {
  0% {
    top: 2px;
    left: 2px;
    height: 121px;
    width: 121px;
  }
  100% {
    top: -8px;
    left: -8px;
    height: 141px;
    width: 141px;
  }
}

@-webkit-keyframes logo-border-lg-wave {
  0% {
    top: 5px;
    left: 5px;
    height: 115px;
    width: 115px;
  }
  100% {
    top: -15px;
    left: -15px;
    height: 155px;
    width: 155px;
  }
}

@keyframes logo-border-lg-wave {
  0% {
    top: 5px;
    left: 5px;
    height: 115px;
    width: 115px;
  }
  100% {
    top: -15px;
    left: -15px;
    height: 155px;
    width: 155px;
  }
}

@-webkit-keyframes logo-border-sm-fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes logo-border-sm-fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes logo-border-lg-fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes logo-border-lg-fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes scroll-arrow-icon-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll-arrow-icon-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  -webkit-overflow-scrolling: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER SECTION */
.header-section {
  position: relative;
  width: 100%;
  padding: 10% 10% 0 10%;
  text-align: center;
  background-image: url(../img/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-section__nav-menu-btn {
  position: absolute;
  z-index: 5;
  top: 7%;
  right: 10%;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__nav-menu-btn:hover .header-section__nav-menu-btn-bar {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header-section__nav-menu-btn-bar {
  display: block;
  width: 36px;
  height: 3px;
  margin: 10px 0;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-section__nav-menu-btn-bar_hide .header-section__nav-menu-btn-bar {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0;
}

.header-section__nav-list {
  width: 70%;
  max-width: 800px;
  height: 500px;
  margin: 85px auto;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.header-section__nav-list_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section__nav-list hr {
  width: 300px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin: 30px auto;
}

.header-section__nav-item a {
  color: #bfbfbf;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__nav-item a:hover {
  color: #3481fe;
  cursor: pointer;
}

.header-section__menu-socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-section__social-icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__social-icon-wrapper:hover {
  background-color: #3481fe;
  cursor: pointer;
}

.header-section__social-icon-wrapper img {
  height: 50%;
}

.header-section__menu-lang {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #e6e6e6;
}

.header-section__menu-lang img {
  width: 30px;
  margin-left: 5px;
}

.header-section__menu-close-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  display: block;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__menu-close-btn:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header-section__menu-close-btn-bar {
  display: block;
  width: 24px;
  height: 2px;
  margin: 8px 0;
  background-color: #3481fe;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__menu-close-btn-bar:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
      -ms-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
  background-color: #3481fe;
}

.header-section__menu-close-btn-bar:nth-child(2) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
      -ms-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
  background-color: #3481fe;
}

.header-section__menu-transparent-bg {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  opacity: 0.7;
  display: none;
}

.header-section__menu-transparent-bg_active {
  display: block;
}

.header-section__logo-container {
  height: 125px;
  width: 125px;
  margin: 0 auto 50px auto;
  position: relative;
}

.header-section__logo-container:hover .header-section__logo-border-sm {
  -webkit-animation: logo-border-sm-wave 0.5s ease-in-out;
          animation: logo-border-sm-wave 0.5s ease-in-out;
}

.header-section__logo-container:hover .header-section__logo-border-lg {
  -webkit-animation: logo-border-lg-wave 0.5s ease-in-out;
          animation: logo-border-lg-wave 0.5s ease-in-out;
}

.header-section__logo-border-sm {
  height: 141px;
  width: 141px;
  background-color: white;
  position: absolute;
  z-index: 2;
  top: -8px;
  left: -8px;
  opacity: 0.1;
  border-radius: 50%;
  -webkit-animation: logo-border-sm-fade 1s ease-in-out alternate infinite;
          animation: logo-border-sm-fade 1s ease-in-out alternate infinite;
}

.header-section__logo-border-lg {
  height: 155px;
  width: 155px;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: -15px;
  opacity: 0.1;
  border-radius: 50%;
  -webkit-animation: logo-border-lg-fade 1s ease-in-out alternate infinite;
          animation: logo-border-lg-fade 1s ease-in-out alternate infinite;
}

.header-section__logo {
  height: 125px;
  width: 125px;
  background-color: white;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.header-section__title {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 600px;
  margin: 20px auto;
}

.header-section__text {
  color: white;
  font-size: 0.7rem;
  font-weight: 100;
  line-height: 2;
  text-transform: uppercase;
  max-width: 600px;
  margin: 0 auto;
}

.header-section__btn {
  background-color: white;
  padding: 15px 70px;
  border: none;
  border-radius: 30px;
  color: #3481fe;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 50px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__btn:hover {
  background-color: #2562b1;
  color: white;
  cursor: pointer;
}

.header-section__scroll-arrow-icon {
  margin: 20px;
  -webkit-animation: scroll-arrow-icon-fade 1.5s linear alternate infinite;
          animation: scroll-arrow-icon-fade 1.5s linear alternate infinite;
}

/* COOKIES MODAL SECTION */
.cookies-modal-section {
  position: fixed;
  z-index: 6;
  top: -100px;
  left: 0;
  width: 100%;
  background-color: rgba(37, 98, 177, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cookies-modal-section__text {
  color: white;
  font-size: 0.8rem;
  margin: 10px;
}

.cookies-modal-section__btn {
  background-color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  font-size: 0.6rem;
  margin: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cookies-modal-section__btn:hover {
  color: white;
  background-color: #3481fe;
  cursor: pointer;
}

/* HIRE MODAL SECTION */
.hire-modal-section {
  width: 70%;
}

.hire-modal-section__form {
  width: 70%;
  max-width: 700px;
  height: 500px;
  margin: 85px auto;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

.hire-modal-section__form_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hire-modal-section__title {
  color: #3481fe;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  margin: 30px 0;
}

.hire-modal-section__input {
  width: 60%;
  height: 35px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  margin: 5px 0;
  padding: 0 0 0 10px;
}

.hire-modal-section__input:focus {
  outline: none;
}

.hire-modal-section__input[name="msg"] {
  height: 150px;
  vertical-align: text-top;
}

.hire-modal-section__input::-webkit-input-placeholder {
  color: #d9d9d9;
}

.hire-modal-section__input:-ms-input-placeholder {
  color: #d9d9d9;
}

.hire-modal-section__input::-ms-input-placeholder {
  color: #d9d9d9;
}

.hire-modal-section__input::placeholder {
  color: #d9d9d9;
}

.hire-modal-section__input[name="msg"]::-webkit-input-placeholder {
  -webkit-transform: translateY(-55px);
          transform: translateY(-55px);
}

.hire-modal-section__input[name="msg"]:-ms-input-placeholder {
  -ms-transform: translateY(-55px);
      transform: translateY(-55px);
}

.hire-modal-section__input[name="msg"]::-ms-input-placeholder {
  -ms-transform: translateY(-55px);
      transform: translateY(-55px);
}

.hire-modal-section__input[name="msg"]::placeholder {
  -webkit-transform: translateY(-55px);
      -ms-transform: translateY(-55px);
          transform: translateY(-55px);
}

.hire-modal-section__input-btn {
  padding: 17px 30px;
  border: none;
  border-radius: 27px;
  background: -webkit-gradient(linear, left top, right top, from(#3481fe), to(#2562b1));
  background: -webkit-linear-gradient(left, #3481fe, #2562b1);
  background: -o-linear-gradient(left, #3481fe, #2562b1);
  background: linear-gradient(90deg, #3481fe, #2562b1);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 30px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hire-modal-section__input-btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#2562b1), to(#2562b1));
  background: -webkit-linear-gradient(left, #2562b1, #2562b1);
  background: -o-linear-gradient(left, #2562b1, #2562b1);
  background: linear-gradient(90deg, #2562b1, #2562b1);
}

.hire-modal-section__modal-close-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  display: block;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hire-modal-section__modal-close-btn:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.hire-modal-section__modal-close-btn-bar {
  display: block;
  width: 24px;
  height: 2px;
  margin: 8px 0;
  background-color: #3481fe;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hire-modal-section__modal-close-btn-bar:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
      -ms-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
  background-color: #3481fe;
}

.hire-modal-section__modal-close-btn-bar:nth-child(2) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
      -ms-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
  background-color: #3481fe;
}

.hire-modal-section__transparent-bg {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0.7;
  display: none;
}

.hire-modal-section__transparent-bg_active {
  display: block;
}

/* ABOUT SECTION */
.about-section {
  width: 100%;
  text-align: center;
  padding: 75px 20px;
}

.about-section__title {
  color: #3481fe;
  font-size: 2.2rem;
  font-weight: 100;
  margin: 0 0 50px 0;
}

.about-section__text {
  line-height: 2;
}

/* EXPERT SECTION */
.expert-section {
  width: 100%;
  background-color: #f0f7ff;
  text-align: center;
  padding: 75px 0;
}

.expert-section__title {
  color: #3481fe;
  font-size: 2.2rem;
  font-weight: 100;
  margin: 0 0 50px 0;
}

.expert-section__items-container {
  max-width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.expert-section__item {
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.expert-section .expert-section__item-1-icon {
  width: 120px;
  height: 120px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  background-image: url(../img/expert-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: 30px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.expert-section .expert-section__item-1-icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.expert-section .expert-section__item-2-icon {
  width: 120px;
  height: 120px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  background-image: url(../img/expert-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: 30px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.expert-section .expert-section__item-2-icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.expert-section .expert-section__item-3-icon {
  width: 120px;
  height: 120px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  background-image: url(../img/expert-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: 30px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.expert-section .expert-section__item-3-icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.expert-section .expert-section__item-4-icon {
  width: 120px;
  height: 120px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  background-image: url(../img/expert-4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: 30px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.expert-section .expert-section__item-4-icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.expert-section .expert-section__item-5-icon {
  width: 120px;
  height: 120px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  background-image: url(../img/expert-5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: 30px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.expert-section .expert-section__item-5-icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.expert-section .expert-section__item-6-icon {
  width: 120px;
  height: 120px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  background-image: url(../img/expert-6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: 30px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.expert-section .expert-section__item-6-icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.expert-section__item-title {
  color: #3481fe;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 0;
}

.expert-section__item-text {
  line-height: 2;
}

/* WORKS SECTION */
.works-section {
  width: 100%;
  text-align: center;
  padding: 75px 0;
}

.works-section__title {
  color: #3481fe;
  font-size: 2.2rem;
  font-weight: 100;
  margin: 0 0 50px 0;
}

.works-section__items-container {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.works-section .works-section__item-1 {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin: 15px;
  background-image: url(../img/works-1.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.works-section .works-section__item-1:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.works-section .works-section__item-2 {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin: 15px;
  background-image: url(../img/works-2.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.works-section .works-section__item-2:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.works-section .works-section__item-3 {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin: 15px;
  background-image: url(../img/works-3.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.works-section .works-section__item-3:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.works-section .works-section__item-4 {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin: 15px;
  background-image: url(../img/works-4.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.works-section .works-section__item-4:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.works-section .works-section__item-5 {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin: 15px;
  background-image: url(../img/works-5.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.works-section .works-section__item-5:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.works-section .works-section__item-6 {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin: 15px;
  background-image: url(../img/works-6.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.works-section .works-section__item-6:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* CLIENTS SECTION */
.clients-section {
  width: 100%;
  text-align: center;
  padding: 75px 0;
  background-color: #f0f7ff;
}

.clients-section__title {
  color: #3481fe;
  font-size: 2.2rem;
  font-weight: 100;
  margin: 0 0 50px 0;
}

.clients-section__items-container {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-section__item {
  margin: 30px;
}

.clients-section__item img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  opacity: 0.3;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.clients-section__item img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* FOOTER SECTION */
.footer-section {
  width: 100%;
  height: 200px;
  text-align: center;
  background-image: url(../img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 10px;
}

.footer-section__text {
  font-size: 2rem;
  color: white;
  font-weight: 100;
}

.footer-section__text span {
  font-weight: 600;
}

.footer-section__btn {
  background-color: white;
  padding: 15px 50px;
  border: none;
  border-radius: 30px;
  color: #3481fe;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-section__btn:hover {
  background-color: #2562b1;
  color: white;
  cursor: pointer;
}
