@keyframes logo-border-sm-wave {
  0% {
    top: 2px;
    left: 2px;
    height: 121px;
    width: 121px;
  }
  100% {
    top: -8px;
    left: -8px;
    height: 141px;
    width: 141px;
  }
}

@keyframes logo-border-lg-wave {
  0% {
    top: 5px;
    left: 5px;
    height: 115px;
    width: 115px;
  }
  100% {
    top: -15px;
    left: -15px;
    height: 155px;
    width: 155px;
  }
}

@keyframes logo-border-sm-fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes logo-border-lg-fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes scroll-arrow-icon-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
